@font-face {
    font-family: 'Norse Bold';
    src: url('./fonts/Norse-Bold.otf') format('opentype');
}


body  {
    display: flex;
}


.sidebar {
    position: relative;
    width: 30vw;
    min-width: 300px;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.background {
    background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.odin-container {
    position: relative;
    z-index: 1;
    background-color: rgba(51, 47, 47, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    
    margin: 40% 0px;
}

.odin-container img {
    width: 15%;
    height: auto;
}

.odin-text {
    font-family: 'Norse Bold';
    font-size: 80px;
    color: white;
}

.credits {
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    font-size: 0.7rem;
}

.credits a {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    align-items: start;
    background-color: #f9fafb;
    font-size: 0.8rem;
}

.information {
    font-weight: 600;
    margin: 30px;
}

.form-container {
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.15);
}

form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.row {
    display: flex;
    gap: 30%;
}

.row div {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2px;
    color: #474f5a;
    font-size: 0.6rem;
}

.end-section {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
}

button {
    background-color: #789361;
    border-radius: 4px ;
    margin: 30px 30px;
    color: white;
    padding: 8px;
    width: 100%;
}

.login-link {
    margin: 0px 30px;
    font-weight: 400;
}

.login-link a {
    color: #789361;
    text-decoration: none;
}

input {
    border-radius: 2px;
    
}

input:focus {
    outline: none;
    border: 2px solid #4da3ff; 
    
}

input:required {
    border: 2px solid lightcoral;
}

/* To do fix responsiveness */